<launch>

  <!-- Launch the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find com3528_2025_team7)/worlds/football_pitch_2balls.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  
  </include>

 
  <node name="agent_1" pkg="com3528_2025_team7" type="miro_swarm_agent_with_vision.py" output="screen">
    <env name="MIRO_ROBOT_NAME" value="miro01"/>
    <param name="agent_id" value="agent_1"/>
  </node>


  <node name="agent_2" pkg="com3528_2025_team7" type="miro_swarm_agent_with_vision.py" output="screen">
     <env name="MIRO_ROBOT_NAME" value="miro02"/>
     <param name="agent_id" value="agent_2"/>
  </node>

  <node name="agent_3" pkg="com3528_2025_team7" type="miro_swarm_agent_with_vision.py" output="screen">
     <env name="MIRO_ROBOT_NAME" value="miro03"/>
     <param name="agent_id" value="agent_3"/>
  </node>

</launch>
