<launch>

  <!-- Launch the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find com3528_2025_team7)/worlds/football_pitch_3m_1b.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  
  </include>


  <!-- <node name="agent_1" pkg="com3528_2025_team7" type="miro_swarm_agent.py" output="screen">
    <env name="MIRO_ROBOT_NAME" value="miro01"/>
    <param name="agent_id" value="agent_1"/>
  </node> -->

  <!-- <node name="agent_1" pkg="com3528_2025_team7" type="kick_blue_ball.py" output="screen">
    <env name="MIRO_ROBOT_NAME" value="miro01"/>
    <param name="agent_id" value="agent_1"/>
  </node> -->

  <!-- 2) Agent 1 in namespace /miro01 -->
  <group ns="miro01">
    <env   name="MIRO_ROBOT_NAME" value="miro01"/>
    <param name="agent_id"         value="agent_1"/>
    <node  pkg="com3528_2025_team7"
           type="miro_swarm_agent.py"
           name="agent_1"
           output="screen"/>
  </group>

  <!-- 3) Agent 2 in namespace /miro02 -->
  <group ns="miro02">
    <env   name="MIRO_ROBOT_NAME" value="miro02"/>
    <param name="agent_id"         value="agent_2"/>
    <node  pkg="com3528_2025_team7"
           type="miro_swarm_agent.py"
           name="agent_2"
           output="screen"/>
  </group>

  <!-- 4) Agent 3 in namespace /miro03 -->
  <group ns="miro03">
    <env   name="MIRO_ROBOT_NAME" value="miro03"/>
    <param name="agent_id"         value="agent_3"/>
    <node  pkg="com3528_2025_team7"
           type="miro_swarm_agent.py"
           name="agent_3"
           output="screen"/>
  </group>

</launch>
